.box{
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    width: 300px;
    align-items: center;
    justify-content: center;
    margin: 20px;
    box-shadow: 2px 3px 2px grey;
    border-radius: 9px;
}

.textOnImage{
    /* background-image: `url('${process.env.PUBLIC_URL}/clip.png')`; */
    height: 270px;
    width: 260px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    color: rgb(172, 166, 166);
    text-decoration: none;
    /* border: 1px solid red; */
}
.title{
    margin: 13px;
    padding-top: 0;
    margin-top: 0;
    font-size: 20px;
    text-decoration: none;
}
