.footer{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    
}
.ul{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 30px;    
    margin-bottom: 0;
    padding-bottom: 0;
}
.a-tag{
    padding: 15px;
    color: rgb(211, 209, 209);
}
.copyright{
    padding-left: 45px;
    margin: 20px;
    color: rgb(172, 168, 168);
}
.footer-links{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding-left: 45px;
    justify-content: space-between;
}
.icons a{
    padding: 10px;
    margin: 10px;
}