.header{
    background-color: #45A29E;
    
    /* margin-top: 0px;
    padding-top: 0; */
}
.heading-1{
    color: white;
    margin-top: 0px;
    padding-top: 0;
    justify-content:space-between;
    padding: 10px;
    padding-left: 100px;
}